# .gitignore
# Node / pnpm 缓存
node_modules/
.pnpm-store/
build/
dist/
.vercel/
.env
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local data
*.local
*.zip
*.csv
*.xlsx
*.bak
